.footer {
    display: flex;
    background-color: #ececec;
}

.footer .wrapper {
    display: flex;
}

.footer .wrapper .art-blocks {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 40px;
}

.wrapper .art-blocks .block {
    display: flex;
    flex-direction: column;
}

.wrapper .art-blocks .i-block {
    display: flex;
    flex-direction: column;
}

.art-blocks .block .block__name {
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    color: #454855;
    font-weight: bold;
    padding-bottom: 20px;
}

.art-blocks .block .block__link {
    color:#aaaaaa;
    padding-bottom: 15px;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}

.art-blocks .i-block .i-block__name {
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    color: #454855;
    font-weight: bold;
    margin-bottom: 40px;
}

.art-blocks .i-block .i-block__sbar {
    width: 270px;
    height: 35px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.i-block .i-block__sbar .i-block__text {
    height: 100%;
    width: 60%;
}

.i-block .i-block__sbar .i-block__input {
    height: 100%;
    width: 100%;
    border:none;
    padding-left: 10px;
}

.i-block .i-block__sbar .i-block__but {
    background-color: #03a8cb;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 40%;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.art-blocks .i-block .links {
    display: flex;
}

.i-block .links .links__img {
    padding-right: 10px;
    cursor: pointer;
    }