@media screen and (min-width: 480px) and (max-width : 768px) {
    .wrapper {
        background-color: red;
    }
}

@media screen and (min-width: 769px) and (max-width : 1024px) {
    .wrapper  {
        width: 100%;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        padding-right: 0px;
        padding-left: 0px;
        background-color: #fff;
    }

    .sub-wrapper {
        width: 100%;
    }

    .header .logo {
        padding-top: 10px;
        margin-bottom: 26px;
        margin-top: 0px;
        height: 135px;
    }

    .header .logo .logo__name {
        font-size: 30px;    
        margin-top: 5px;
    }
    
    .header .logo .logo__text {
        font-size: 18px;
        font-weight: 300;
    }

    .header .nav__list {
        height: 80px;
        margin: 0 auto;
        text-transform: uppercase;
        background-color: #03a8cb;
        border-radius: 0;
    }

    .banner {
        padding-top: 50px;
        height: 270px;
        border-radius: 0;
    }

    .banner .banner__text {
        font-size: 46px;
    }

    .banner .banner__btext {
        font-size: 20px;
        padding-left: 170px;
    }

    .info-container {
        padding-left: 20px;
        width: 96%;
        padding-right: 20px;
    }

    .info-container__block {
        width: 220px;
        height: 430px;
        height: 430px;
        position: relative;
    }

    .info-container__sub-block {
        height: 250px;
    }

    .info-container__text {
        font-size:  22px;
    }
    
    .info-container__subtext {
        font-size:  16px;
    }

    .info-container__but {
        position: absolute;
        font-size: 15px;
        height: 30px;
        width: 65px;
        bottom: 0;
        margin-bottom: 20px;
    }

    .benefit-container {
        padding-left: 20px;
        width: 96%;
        padding-right: 20px;
    }

    .benefit-list {
        width: 440px;
    }

    .block.block__active .sub-block .sub-block__text{
        font-size: 16px;
    }

    .block .sub-block .sub-block__text {
        font-size: 16px;
        margin-left: 10px;
    }

    .block .sub-text .sub-text__text{
        font-size: 15px;
    }

    .info-blocks .info-section__container {
        margin-left: 10px;
    }

    .info-blocks .info-section {
        height: 90px;
    }

    .info-section__container .info-section__subtext {
        width: 90%;
    }

    .article-top .article-top__info {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 20px;
    }

    .art-container {
        padding-left: 20px;
        width: 96%;
        padding-right: 20px;
    }

    .article-top .article-top__img {
        height: 220px;
        width: 150px;
    }

    .article-top .article-top__info {
        width: 100%;
        margin-left: 10px;
    }

    .article-top .article-top__info .article-top__name {
        font-size: 22px;
    }

    .article-top .article-top__info .article-top__subname {
        font-size: 20px;
    }

    .article-top .article-top__info .article-top__text {
        font-size: 16px;
        width: 95%;
    }

    .article-bot {
        margin-top: 10px;
        width: 100%;
    }
    
    .article-bot .article-bot__text {
        font-size: 16px;
        text-align: left;
        color: #828282;
        font-family: 'SourceSansPro-Regular', sans-serif;
        line-height: 1.7;
        width: 95%;
        margin-bottom: 60px;
    }


    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer  {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer .art-blocks {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
        padding-right: 5px;
    }

    .art-blocks .i-block {
        padding-left: 0px;
        margin-right: 10px;
        margin-bottom: 20px;    
    }

    .i-block .i-block__sbar .i-block__but {
        font-size: 16px;
    }

    .art-blocks .block .block__name {
        font-size:  22px;
    }

    .art-blocks .i-block .links {
        justify-content: left;
    }

    .block .links .block__link {
        padding-bottom: 15px;
        font-size: 18px;
    }

    .art-blocks .i-block .i-block__name {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .article-bot__button {
        font-size: 18px;
        height: 35px;
        width: 70px;
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
    }

    .art-blocks .i-block .i-block__sbar {
        width: 350px;
        height: 35px;
    }

    .art-container .s-article {
        position: relative;

    }

    .art-container .article {
        position: relative;
    }
   
}

