* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background:#26272f url(images/Background.png) no-repeat; 
}

A:link { 
    text-decoration: none; /* Убирает подчеркивание для ссылок */
     
} 

A:visited { 
    text-decoration: none;
} 
    
 A:active {
      text-decoration: none;
} 

header {
    text-align: center;
    font-size: 18px;
}

.wrapper {
    width: 65%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

.sub-wrapper {
    width: 96%;
    margin: 0 auto;
}

header .top-header {
    padding-top: 27px;
    margin-bottom: 36px;
    margin-top: 110px;
}

header .top-header .top-header__logo {
    text-transform: uppercase;
    font-size: 44px;
    margin-top: 11px;
}

header .nav-container {
    width: 100%;
}

header nav {
    width: inherit;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #03a8cb;
    border-radius: 5px 5px 0 0; 
}

header nav .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin: 0 auto;
    text-transform: uppercase;
}

.nav__list a { 
    border-left: 1px solid #fff;
    padding-right: 25px;
    padding-left: 25px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
}

.nav__list :last-child {
    border-right: 1px solid #fff;
}

.bottom-header { 
    background: url(images/banner1.png) no-repeat; 
    background-size: cover; 
    width: inherit; 
    border-radius: 0 0 5px 5px; 
    padding-top: 130px;
    height: 290px;
}

header .bottom-header .bottom-header__text {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff; 
}

header .bottom-header .bottom-header__btext {
    font-size: 28px;
    color: #fff;
    padding-bottom: 30px;
    text-align: center;
}

header .bottom-header .bottom-header__button {
    background-color: #03a8cb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    height: 50px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}